PORT=3000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=lomba
DB_PASSWORD=change_me
DB_NAME=lomba_challenge

DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME_MINUTES=30
DB_CONN_MAX_IDLE_TIME_MINUTES=5
